/* ====================================
// css variables
// ==================================== */

:root {
}

/* ====================================
// reset rules
// ==================================== */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
  font-family: "Rubik", sans-serif;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;

  font-size: 1rem;
  line-height: 1.25;
}

a {
  color: inherit;
}

img,
video {
  max-inline-size: 100%;
  block-size: auto;
  vertical-align: middle;
}

/* Header CSS*/

header {
  background-image: url(../img/header-background.jpg);
  height: 495px;
  width: 100%;
  background-position: center;
  background-size: cover;
  padding: 30px 0;
  text-transform: uppercase;
}

header a {
  font-size: 16px;
  color: #fff;
  text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
  text-decoration: none;
  margin-right: 30px;
}

header a:last-of-type {
  margin: 0;
}

h1 {
  font-size: 100px;
  font-weight: 500;
  color: #fff;
  text-align: center;
  text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
  margin: 50px 0 20px;
}

.subtitle {
  color: #fff;
  text-align: center;
  text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
  font-size: 30px;
}

/* Main CSS */

.articles {
  margin: 50px 5px;
}

.article h2 {
  margin-bottom: 30px;
}

.article p {
  line-height: 24px;
  margin-bottom: 30px;
}

.article a {
  font-weight: 400;
  text-decoration: none;
  text-transform: uppercase;
  margin-bottom: 50px;
  display: block;
}

.articles img {
  margin-bottom: 30px;
}

.right {
  text-align: right;
}

/* .article:nth-last-of-type(2n) {
  text-align: right;
} */

/* Colored Background CSS*/

.colored-background {
  background: #eae6e1;
  padding-top: 50px;
}

.seeds-title {
  text-align: center;
  margin-bottom: 50px;
}

h2 {
  font-weight: 400;
  line-height: 45px;
  font-size: 30px;
  text-transform: uppercase;
}

.seeds-title p {
  font-size: 14px;
}

.seed {
  vertical-align: middle;
  margin-bottom: 50px;
}

.seed p {
  line-height: 24px;
  text-transform: uppercase;
  margin-top: 10px;
}

.press {
  text-align: center;
}

.press p {
  font-size: 14px;
  margin-bottom: 50px;
}

.journal {
  margin-bottom: 50px;
  line-height: 24px;
}

.journal img {
  margin-bottom: 10px;
}
